bitsandbytes
dotenv
faiss-cpu
matplotlib
nltk
numpy
pandas
PyPDF2
pdfminer.six
requests
scikit-learn
seaborn
sentence-transformers
streamlit
torch
transformers==4.50.3
accelerate
unidecode
wordcloud
sentencepiece
