accelerate==1.6.0
altair==5.5.0
appnope
asttokens
attrs==25.3.0
bitsandbytes==0.42.0
blinker==1.9.0
cachetools==5.5.2
certifi==2025.1.31
cffi==1.17.1
charset-normalizer==3.4.1
click==8.1.8
comm
contourpy==1.3.1
cryptography==44.0.2
cycler==0.12.1
debugpy
decorator
et_xmlfile==2.0.0
exceptiongroup
executing
faiss-cpu==1.10.0
filelock==3.18.0
fonttools==4.56.0
fsspec==2025.3.2
gitdb==4.0.12
GitPython==3.1.44
huggingface-hub==0.30.1
idna==3.10
importlib_metadata
iniconfig==2.1.0
ipykernel
ipython
ipython_pygments_lexers
jedi
Jinja2==3.1.6
joblib==1.4.2
jsonschema==4.23.0
jsonschema-specifications==2024.10.1
jupyter_client
jupyter_core
kiwisolver==1.4.8
MarkupSafe==3.0.2
matplotlib==3.10.1
matplotlib-inline
mpmath==1.3.0
narwhals==1.33.0
nest_asyncio
networkx==3.4.2
nltk==3.9.1
numpy==2.2.3
openpyxl==3.1.5
packaging
pandas==2.2.3
parso
pdfminer==20191125
pdfminer.six==20240706
pexpect
pickleshare
pillow==11.2.0
platformdirs
pluggy==1.5.0
prompt_toolkit
protobuf==5.29.4
psutil
ptyprocess
pure_eval
pyarrow==19.0.1
pycparser==2.22
pycryptodome==3.22.0
pydeck==0.9.1
Pygments
pyparsing==3.2.3
PyPDF2==3.0.1
pytest==8.3.5
python-dateutil
pytz==2025.1
PyYAML==6.0.2
pyzmq
referencing==0.36.2
regex==2024.11.6
requests==2.32.3
rpds-py==0.24.0
safetensors==0.5.3
scikit-learn==1.6.1
scipy==1.15.2
seaborn==0.13.2
sentence-transformers==4.0.1
sentencepiece==0.2.0
six
smmap==5.0.2
stack_data
streamlit==1.44.1
sympy==1.13.1
tenacity==9.1.2
threadpoolctl==3.6.0
tokenizers==0.21.1
toml==0.10.2
torch==2.6.0
tornado
tqdm==4.67.1
traitlets
transformers==4.50.3
typing_extensions
tzdata==2025.1
Unidecode==1.3.8
urllib3==2.3.0
wcwidth
wordcloud==1.9.4
zipp