bitsandbytes
dotenv
faiss-cpu
matplotlib
nltk
numpy
pandas
PyPDF2
pdfminer.six
requests
scikit-learn
seaborn
sentence-transformers
streamlit
torch
transformers>=4.52.0
unidecode
wordcloud
sentencepiece
